<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933878639422-32rmoqer49dompisgv4mb37r04a94vgf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933878639422-32rmoqer49dompisgv4mb37r04a94vgf</string>
	<key>API_KEY</key>
	<string>AIzaSyBwA7DEMDvqncSV_rn2eULj3YWRajID4XM</string>
	<key>GCM_SENDER_ID</key>
	<string>933878639422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTodolist</string>
	<key>PROJECT_ID</key>
	<string>fluttertodolist-2e281</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttertodolist-2e281.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933878639422:ios:48f678b85de8e5f7405a6f</string>
</dict>
</plist>